In [9]:
import numpy as np
import pandas as pd
from datetime import date, timedelta

irr_type = "deannualized"
irr_values = [0.1]  # Example IRRs
days_in_period = 10 # Time period in days

In [10]:
daily_irrs = []
for irr in irr_values:
    if irr_type == "deannualized":
        daily_irr = (1 + irr)**(1/days_in_period) - 1
    elif irr_type == "annualized":
        daily_irr = (1 + irr)**(1/365) - 1
    elif irr_type == "daily":
        daily_irr = irr
    else:
        raise ValueError("Unsupported IRR type. Choose from 'annualized', 'deannualized', or 'daily'.")
    daily_irrs.append(daily_irr)
daily_irrs

[0.009576582776887]

In [11]:
x_values = [1 / (1 + irr) for irr in daily_irrs]
x_values

[0.9905142582145218]

In [12]:
num_additional_roots = days_in_period - (len(irr_values) + 1)
num_additional_roots

8

In [13]:
# If num_additional_roots N is even, we want to use the strictly complex N+1 roots of unity
if num_additional_roots % 2 == 0:
    n = num_additional_roots + 1
    nth_roots = [np.exp(2j * np.pi * k / n) for k in range(1, n) if np.abs(np.exp(2j * np.pi * k / n) - 1) > 1e-10]
else:
    n = num_additional_roots
    nth_roots = [np.exp(2j * np.pi * k / n) for k in range(1, n) if np.abs(np.exp(2j * np.pi * k / n) - 1) > 1e-10]
    nth_roots.append(x_values[0])
nth_roots

[np.complex128(0.766044443118978+0.6427876096865393j),
 np.complex128(0.17364817766693041+0.984807753012208j),
 np.complex128(-0.49999999999999983+0.8660254037844387j),
 np.complex128(-0.9396926207859083+0.3420201433256689j),
 np.complex128(-0.9396926207859084-0.34202014332566866j),
 np.complex128(-0.5000000000000004-0.8660254037844384j),
 np.complex128(0.17364817766692997-0.9848077530122081j),
 np.complex128(0.7660444431189778-0.6427876096865396j)]

In [14]:
for val in nth_roots:
    x_values.append(val)
x_values

[0.9905142582145218,
 np.complex128(0.766044443118978+0.6427876096865393j),
 np.complex128(0.17364817766693041+0.984807753012208j),
 np.complex128(-0.49999999999999983+0.8660254037844387j),
 np.complex128(-0.9396926207859083+0.3420201433256689j),
 np.complex128(-0.9396926207859084-0.34202014332566866j),
 np.complex128(-0.5000000000000004-0.8660254037844384j),
 np.complex128(0.17364817766692997-0.9848077530122081j),
 np.complex128(0.7660444431189778-0.6427876096865396j)]

In [15]:
poly = np.poly(x_values)
poly

array([ 1.        +0.00000000e+00j,  0.00948574-1.11022302e-16j,
        0.00948574-6.66133815e-16j,  0.00948574-1.42941214e-15j,
        0.00948574+9.43689571e-16j,  0.00948574+1.44328993e-15j,
        0.00948574-1.11022302e-16j,  0.00948574-1.77635684e-15j,
        0.00948574-1.20736754e-15j, -0.99051426+1.72084569e-15j])

In [16]:
cfs = []
for coef in poly:
    im = np.imag(coef)
    if np.abs(im) > 1e-10:
        print("DANGER")
        print(im)
    cfs.append(1000*np.real(coef))

In [17]:
dates = [date.today() - timedelta(days=i) for i in range(len(cfs))]
dates

[datetime.date(2024, 10, 23),
 datetime.date(2024, 10, 22),
 datetime.date(2024, 10, 21),
 datetime.date(2024, 10, 20),
 datetime.date(2024, 10, 19),
 datetime.date(2024, 10, 18),
 datetime.date(2024, 10, 17),
 datetime.date(2024, 10, 16),
 datetime.date(2024, 10, 15),
 datetime.date(2024, 10, 14)]

In [18]:
df = pd.DataFrame({
        'Date': dates,
        'Amount': cfs
    })
df

         Date       Amount
0  2024-10-23  1000.000000
1  2024-10-22     9.485742
2  2024-10-21     9.485742
3  2024-10-20     9.485742
4  2024-10-19     9.485742
5  2024-10-18     9.485742
6  2024-10-17     9.485742
7  2024-10-16     9.485742
8  2024-10-15     9.485742
9  2024-10-14  -990.514258

In [19]:
# Export to a CSV file (optional)
df.to_csv('cashflows.csv', index=False)